.fl {
  float right
}
.main-content {
  margin-top 20px
}
.date-title {
  text-align center
}
.data-content {
  width 80%
  margin auto
  .input-date {
    outline 0 none
    border 1px solid #ddd
  }
  td {
    max-width 250px
  }
  .pagination {
    margin 20px 0
  }
}
.detail-content {
  .modal {
    top 15%
  }
  .detail-list {
    padding 15px 30px
    li {
      margin-bottom 5px
    }
  }
}