<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style.css' />
    <script src="test/report.js"></script>
    <!-- <script src="test/performance.js"></script> -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>report error example</p>
    <script src="test/example.js"></script>
  </body>
</html>
