<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
    <a href="/errors/day/20170101?next=abcdefg">http://cc.local.com:8003/errors/day/20170101?next=abcdefg</a>
    
  </body>
</html>
